<h1>About Bloccitt</h1>
<p>Created by: Alex Rolfe</p>
<button type="button" class="btn btn-default">Button Test</button>
<button type="button">HTML Button</button>
<div class="social-btn">Button Class</div>
