<h1>All Posts</h1>

<% @posts.each_with_index do |post, index| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= if index % 4 != 0
              link_to post.title, post
            else index % 4 == 0
              post.title=("Spam")
            end %>
      </h4>
    </div>
  </div>
<% end %>
